import(RCurl)
import(jsonlite)
import(httr)
export(get_socialmedia)
export(get_url)
export(get_facebook)
export(get_linkedin)
export(get_pinterest)
export(get_reddit)
export(get_stumbleupon)
export(get_twitter)